<?xml version="1.0"?>
<!--
/**
 * paulmillband_adminReindex Module
 *
 * @category    paulmillband
 * @package     paulmillband_adminReindex
 * @author      paulmillband Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../magento/framework/Module/etc/module.xsd">
    <module name="paulmillband_adminReindex" setup_version="1.0.0.0">
    </module>
</config>